<script>
import ClueThreeNumberShifter from './ClueThreeNumberShifter.vue';

export default {
  components: {
    ClueThreeNumberShifter,
  },
  setup () {
    return {};
  },
};
</script>

<template>
  <i class="tc red">OKAY FINE! YA SOLVED IT.</i>
  <h1>This Next One is Nuts!</h1>
  <p>It's a letter shifty puzzle!</p>


  <div class="bg-white ph3 pv2 black">
    <h3>Guide:</h3>
    <div class="letters flex items-center justify-center flex-wrap">
      <div class="tc ma2" v-for="(letter, index) in ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']">
        <div>{{ letter }}</div>
        <small>{{ index + 1 }}</small>
      </div>
    </div>
    <h2 class="tc">key word: <b>surrrr</b></h2>
  </div>


  <div class="numbers flex mt3">
    <ClueThreeNumberShifter :start="25" />
    <ClueThreeNumberShifter :start="15" />
    <ClueThreeNumberShifter :start="12" />
    <ClueThreeNumberShifter :start="1" />
    <ClueThreeNumberShifter :start="10" />
    <ClueThreeNumberShifter :start="15" />
  </div>

  <small class="db mt2">Hint: Use the arrows to change letter.</small>
</template>

<style scoped>
.number-shifter {
  flex: 1 1 100%;
}

.numbers {
  cursor: auto;
  user-select: none;
  -webkit-user-select: none;
}
</style>
