<script>
export default {
  setup () {
    return {};
  },
};
</script>

<template>
  <div>
    <h3 class="f1 tc">Alrighty, let's start easy.</h3>
    <p>This is a Wikipedia maze. Every bullet point below refers to a link in a Wikipedia article. <b>Click the link</b> then move to the next step.</p>
    <ol>
      <li><a href="https://en.wikipedia.org/wiki/Malus" target="_blank" rel="noopener">Start Here</a></li>
      <li>Under uses, what type of alcohol is this used in?</li>
      <li>Find the German one.</li>
      <li>What city is it that they "add berries from the service tree in small quantities to increase astringency"?</li>
      <li>Sixth bullet point above the "Quality of Life" section, last link in that sentence.</li>
      <li>Your answer is the article name.</li>
    </ol>
  </div>
</template>
