<script>
import { ref, onMounted } from 'vue';

export default {
  setup () {
    const currentDragElement = ref(null);
    const dragContainer = ref(null);
    const imageA = ref(null);
    const imageB = ref(null);

    function onMouseMove (e) {
      const moveX = (e.type === 'touchmove') ? e.touches[0].pageX : e.pageX;
      const moveY = (e.type === 'touchmove') ? e.touches[0].pageY : e.pageY;

      const x = moveX - dragContainer.value.offsetLeft - currentDragElement.value.offsetLeft - (currentDragElement.value.clientWidth / 2);
      const y = moveY - dragContainer.value.offsetTop - currentDragElement.value.offsetTop - (currentDragElement.value.clientHeight / 2);

      const roundedX = Math.ceil(x/5)*5;
      const roundedY = Math.ceil(y/5)*5;

      currentDragElement.value.style.transform = `translate(${roundedX}px, ${roundedY}px)`;
    }

    function removeMouseMoveListener () {
      window.removeEventListener('mousemove', onMouseMove);
      window.removeEventListener('mouseup', removeMouseMoveListener);
    }

    function onMouseDown (e) {
      if (e.target.tagName === 'IMG') {
        e.preventDefault();
        currentDragElement.value = e.target;
        if (e.type === 'touchstart') {
          window.addEventListener('touchmove', onMouseMove);
          window.addEventListener('touchend', removeMouseMoveListener);
        } else {
          window.addEventListener('mousemove', onMouseMove);
          window.addEventListener('mouseup', removeMouseMoveListener);
        }
      }
    }

    onMounted(() => {
        const aX = (dragContainer.value.clientWidth / 2) - 210;
        const aY = (dragContainer.value.clientHeight / 2) - 105;
        const roundedAX = Math.ceil(aX/5)*5;
        const roundedAY = Math.ceil(aY/5)*5;

        const bX = (dragContainer.value.clientWidth / 2);
        const bY = (dragContainer.value.clientHeight / 2) - 105;
        const roundedBX = Math.ceil(bX/5)*5;
        const roundedBY = Math.ceil(bY/5)*5;

        imageA.value.style.transform = `translate(${roundedAX}px,${roundedAY}px)`;
        imageB.value.style.transform = `translate(${roundedBX}px,${roundedBY}px)`;
    });

    return {
      dragContainer,
      imageA,
      imageB,
      onMouseDown,
    };
  },
};
</script>

<template>
  <h3 class="tc f1">WELL DONE INTREPIT DIGGIDY.</h3>
  <p class="tc">But do you think you can figure out this fucker's trick?</p>
  <div class="drag-container bg-white w-100 overflow-hidden relative" ref="dragContainer" @touchstart="onMouseDown" @mousedown="onMouseDown">
    <img class="absolute messagea" ref="imageA" src="./cluetwoimg1.png" alt="">
    <img class="absolute messageb" ref="imageB" src="./cluetwoimg2.png" alt="">
  </div>
  <small>Hint: animal.</small>
</template>

<style scoped>
.drag-container {
  padding-bottom: 75%;
}

img {
  cursor: move;
}
</style>
