<script>
import { computed, nextTick, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';

export default {
  setup () {
    const currentRoute = useRoute();
    const router = useRouter();

    const soFar = computed(() => {
      const solution = [3,9,7];
      if (currentRoute.name === 'clue-two') return solution.slice(0,1);
      if (currentRoute.name === 'clue-three') return solution.slice(0,2);
      if (currentRoute.name === 'finished') return solution;
      return [];
    });

    function clearNotification () {
      wrong.value = false;
      correct.value = false;
    }

    function removeMouseMoveListener () {
      setTimeout(() => {
        clearNotification();
      }, 500);
      window.removeEventListener('mouseup', removeMouseMoveListener);
    }

    const wrong = ref(false);
    const correct = ref(false);
    const answer = ref('');
    async function onMouseDown () {
      await new Promise(resolve => { setTimeout(() => resolve(), 100); });
      if (
        currentRoute.name === 'clue-one' && answer.value.toLowerCase() === 'hot dog' ||
        currentRoute.name === 'clue-one' && answer.value.toLowerCase() === 'hotdog'
      ) {
        router.push({ name: 'clue-two' });
        correct.value = 'true';
        answer.value = '';
      } else if (
        currentRoute.name === 'clue-two' && answer.value.toLowerCase() === 'otter'
      ) {
        router.push({ name: 'clue-three' });
        correct.value = true;
        answer.value = '';
      } else if (
        currentRoute.name === 'clue-three' && answer.value.toLowerCase() === 'sketch'
      ) {
        router.push({ name: 'finished' });
        correct.value = true;
        answer.value = '';
      } else {
        wrong.value = true;
        window.addEventListener('mouseup', removeMouseMoveListener);
      }
    }

    return {
      soFar,
      answer,
      wrong,
      correct,
      onMouseDown,
      clearNotification,
    };
  },
};
</script>

<template>
<div class="w-100 ph3 center mt5">
  <div class="clue-box ba b--white mw7 center w-100 bg-black pa3">
    <div v-if="soFar.length" class="so-far tc mb4">
      <small class="db mb2">Number<span v-if="soFar.length > 1">s</span> <span v-if="$route.name !== 'finished'">So Far...</span></small>
      <small class="ba b--white pa1 mh1" v-for="number in soFar">{{ number }}</small>
    </div>

    <RouterView />

    <div class="mt3 tc" v-if="$route.name !== 'introduction' && $route.name !== 'finished'">
      <input class="db w-100 f3" placeholder="Enter Answer" type="text" v-model="answer">
      <button
        @mousedown="onMouseDown"
        @touchdown="onMouseDown"
      >Submit</button>
    </div>
  </div>
</div>

<div class="fixed top-0 left-0 w-100 h-100 flex items-center justify-center z-3" v-if="wrong || correct">
  <div class="wrong ttu f1" v-if="wrong">Wrong</div>
  <div class="correct ttu pa3" v-if="correct">
    <h1>Correct</h1>
    <h2>You earned a new number for the lock</h2>

    <div v-if="soFar.length" class="so-far flex items-center justify-center">
      <h1 class="ba b--white pa1 mh1 tc" v-for="number in soFar">{{ number }}</h1>
    </div>

    <button @click="clearNotification">Proceed</button>
  </div>
</div>
</template>

<style scoped>
.clue-box {
  border-style: inset;
  border-width: 0.3rem;
}

.wrong {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: red;
}

.correct {
  width: 100%;
  height: 100%;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>
