<script>
import { computed, ref } from 'vue';
export default {
  props: {
    start: {
      type: Number,
      required: false,
      default: 1,
    }
  },
  setup (props) {
    const index = ref(props.start);
    const shift = ref(0);
    const alphabet = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'];

    const letter = computed(() => {
      return alphabet[index.value];
    });


    function removeOne () {
      shift.value--;
      let newIndex = index.value - 1;
      if (newIndex < 0) {
        newIndex = (alphabet.length - 1);
      }
      index.value = newIndex;
    }

    function addOne () {
      shift.value++;
      let newIndex = index.value + 1;
      if (newIndex > (alphabet.length - 1)) {
        newIndex = 0;
      }
      index.value = newIndex;
    }

    return {
      letter,
      shift,
      removeOne,
      addOne,
    };
  },
};
</script>

<template>
  <div class="tc number-shifter">
    <div class="flex items-center justify-center f5 f2-ns">
      <div @click="removeOne" class="f4-ns pointer">&lt;</div>
      <div class="mh1 w2-ns">{{ letter }}</div>
      <div @click="addOne" class="f4-ns pointer">&gt;</div>
    </div>
    <small :class="{ '-show': shift !== 0 }" class="shiftnumber db tc"><span class="dn di-ns">Shift:&nbsp;</span>{{ shift }}</small>
  </div>
</template>

<style scoped>
.shiftnumber {
  opacity: 0;
}

.shiftnumber.-show {
  opacity: 1;
}
</style>
