<script>
export default {
  setup () {
    return {};
  },
};
</script>

<template>
  <div class="tc measure center">
    <h3 class="f1">Hello Hot Dog Eater.</h3>
    <p>Answer these riddles three, then open lock thee.</p>
    <RouterLink class="button" :to="{ name: 'clue-one' }">Begin</RouterLink>
  </div>
</template>

<style scoped>

</style>
