<script>
import { computed, ref } from 'vue';

export default {
}
</script>

<template>
  <img class="dancingcat" src="./cat.gif" alt="Dancing Cat!">

  <marquee class="header pa3 f4 bb b--white ttu b z-2">We gon' be allllllllllllllllllllllllllllllllllllllllllllllllllllllllright.</marquee>

  <main class="secret-santa-clue-game mt5 mb6 flex flex-column items-center z-1">
    <h1 class="title f1 ma0 ttu">Dicksalad</h1>
    <RouterView />
  </main>

  <marquee class="footer pa3 f4 bt b--white ttu b z-2" direction="right">We gon' be allllllllllllllllllllllllllllllllllllllllllllllllright.</marquee>
</template>

<style>
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url('cursor.png'), auto;
}

body {
  position: relative;
  font-family: sans-serif;
  color: white;
  background: url('bg.gif');
  background-color: black;
}

#app {
  overflow: hidden;
}

h1, .f1 {
  font-family: 'IBM Plex Mono', monospace;
  letter-spacing: 0.3rem;
}

a {
  color: white;
}

a:visited {
  color: white;
}

button,
.button {
  display: inline-block;
  margin: 1rem 0;
  background-color: blue;
  color: white;
  font-size: 3rem;
  padding: 1rem 2rem;
  border: 3px white inset;
  text-transform: uppercase;
  text-decoration: none;
}
button:hover,
.button:hover {
  background-color: red;
}
button:active,
.button:active {
  background-color: orange;
}
</style>

<style scoped>
.header,
.footer {
  position: fixed;
  left: 0;
  background-color: black;
  letter-spacing: 0.2rem;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
}

.dancingcat {
  position: fixed;
  top: 0;
  right: 0;
  transform: rotate(14deg);
  width: 14rem;
  z-index: -1;
}

@media (min-width: 1200px) {
  .title {
    font-size: 10rem;
  }

  h2 {
    margin-left: 0.7rem;
  }

  .dancingcat {
    width: 20rem;
  }
}
</style>
